<!DOCTYPE html>

<html lang="pt-br">

    <head>
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo_form.png') }}" type="image/x-icon">

    </head>

    <body>

        {% include 'header.html' %}

        <main>
            {% block content %}
            {% endblock %}
        </main>
        
        

    </body>
</html>